#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}
cp -rf .config/firefox/policies.json /Applications/Firefox.app/Contents/Resources/distribution/.
{{ end }}

{{ if eq .chezmoi.os "linux" }}
cp -rf .config/firefox/policies.json /etc/firefox/policies/.
{{ end }}
