#!/bin/bash

MACHINE_NAME="{{ .machineName }}"

echo "Set Machine Name to: ${MACHINE_NAME}"

{{ if eq .chezmoi.os "darwin" }}
sudo scutil --set ComputerName "${MACHINE_NAME}"
sudo scutil --set HostName "${MACHINE_NAME}"
sudo scutil --set LocalHostName "${MACHINE_NAME}"
sudo defaults write /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName -string "${MACHINE_NAME}"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
sudo hostnamectl set-hostname  "${MACHINE_NAME}"
{{ end }}