#!/bin/bash

# @see win11: .chezmoiscripts/windows/run_firefox_profile.ps1

echo "firefox-profile:"

{{ if eq .chezmoi.os "darwin" }}
echo "Reminder about permissions:"
echo " --> Enable:  > System Settings > Privacy & Security > App Management > Allow terminal apps"

FF_PROFILE_LOCATION=/Applications/Firefox.app/Contents/Resources/distribution/
{{ end }}

{{ if eq .chezmoi.os "linux" }}
FF_PROFILE_LOCATION=/etc/firefox/policies/
{{ end }}

FF_PROFILE_SOURCE={{ .chezmoi.sourceDir }}/dot_config/firefox/policies.json

echo "run_firefox_profile from: ${FF_PROFILE_SOURCE}"
echo "run_firefox_profile to  : ${FF_PROFILE_LOCATION}"

mkdir -p $FF_PROFILE_LOCATION
cp -rf $FF_PROFILE_SOURCE $FF_PROFILE_LOCATION
