{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
Library/Application Support/Code/User/settings.json
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.config/Code/User/settings.json
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
.local/bin/windows
AppData
Documents
{{ else }}
.chezmoiscripts/*.sh
{{ end }}

_*.sh
.local/bin/macos-sh-references
Dockerfile
README.md
TODO.md