#!/bin/zsh

source $HOME/.oh-my-zsh/oh-my-zsh.sh
if [[ $(uname -m) == 'arm64' ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
else
  eval "$(/usr/local/bin/brew shellenv)"
fi

# Brewfile hash: {{ include "dot_config/homebrew/Brewfile" | sha256sum }}
echo "HOMEBREW_BUNDLE_FILE: ${HOMEBREW_BUNDLE_FILE}"
brew bundle install
brew search '/font-.*-nerd-font/' | awk '{ print $1 }' | xargs -I{} brew install --cask {} || true
brew cleanup

$HOME/.iterm2-color-schemes/tools/import-scheme.sh 'Tomorrow Night Bright'

# Remove binary used on fresh first install and defer to the version from: `brew install chezmoi`
rm -f $HOME/bin/chezmoi

# remove GateKeeper
# xattr -c -r /Applications/Alacritty.app
# xattr -c -r /Applications/iTerm.app
# xattr -c -r /Applications/Spotify.app
# xattr -c -r /Applications/WezTerm.app

asdf plugin-add nodejs
asdf plugin-add yarn
asdf plugin-add java
asdf plugin-add python
asdf plugin-add ruby
asdf plugin-add rust

asdf install nodejs latest
asdf install yarn 1.22.19
# https://github.com/pyenv/pyenv/wiki#suggested-build-environment
# brew install openssl readline sqlite3 xz zlib tcl-tk
asdf install python latest
# cargo/rust
# curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
asdf install rust latest

asdf global nodejs latest
asdf global yarn 1.22.19
asdf global python latest
asdf global rust latest

# lunarvim:
# https://www.lunarvim.org/docs/installation
# Have git, make, pip, python, npm, node, cargo and ripgrep installed on your system.
bash <(curl -s https://raw.githubusercontent.com/lunarvim/lunarvim/master/utils/installer/install.sh)
