[init]
    defaultBranch = {{ .defaultBranch | quote }}

[user]
    name = Chris Hemp
    email = {{ .email | quote }}
    user = hemp

[core]
    excludesfile = ~/.config/git/ignore
    pager = delta

[column]
    ui = auto

[diff]
    algorithm = histogram
    colorMoved = true
    mnemonicPrefix = true
    renames = true

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = zdiff3

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[commit]
    verbose = true

[delta]
    hyperlinks = true
    hyperlinks-file-link-format = "vscode://file/{path}:{line}"
    # hyperlinks-file-link-format = "vscode-insiders://file/{path}:{line}"
    line-numbers = true
    navigate = true
    side-by-side = true

[include]
    path = ~/.delta/themes.gitconfig

[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
