#!/bin/bash

echo "install-packages:"

ITERATION0_APT=(
  curl
  git
  gpg
  jq
  sudo
  wget
  zsh
)

sudo apt-get install -y ${ITERATION0_APT[@]}

# lunarvim
bash <(curl -s https://raw.githubusercontent.com/lunarvim/lunarvim/master/utils/installer/install.sh)

{{ if eq .machineType "server" -}}

ITERATION1_SERVER=(
  openssh-server
)

sudo apt-get install -y ${ITERATION1_SERVER[@]}

{{- else -}}

ITERATION1=(
  # audacious
  # audacious-plugins
  # chromium-browser
  # conky-all
  # diffuse
  # firefox
  # fonts-inconsolata
  # git-cola
  # i3
  # network-manager-openvpn
  # network-manager-openvpn-gnome
  # openvpn
  # qgit
  # shutter
  # tig
  # vlc
  direnv
)

sudo apt-get install -y ${ITERATION1[@]}

# vscode
# wget -q "https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64" -O /tmp/vscode-latest.deb
# sudo apt install /tmp/vscode-latest.deb
# sudo rm /tmp/vscode-latest.deb

{{- end }}

{{ if ne .chezmoi.arch "arm64" -}}

# homebrew does not support arm
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

ITERATION_BREW=(
  bat
  bottom
  btop
  ctop
  dive
  dust
  eza
  fd
  fzf
  git-delta
  neovim
  ranger
  ripgrep
  tealdeer
  the_silver_searcher
)

brew install ${ITERATION_BREW[@]}

{{- end }}

sudo apt-get clean
